.profilePage {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 60px);
    padding: 4rem;

    .profileCard {
        background-color: var(--color-primary-dark);
        border-radius: .5rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

        padding: 4rem;
        max-width: 450px;
        width: 100%;
        text-align: center;

        .profileTitle {
            color: var(--white);
            font-size: 2.2rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .profileSubtitle {
            color: var(--white);
            font-size: 1.2rem;
            margin-bottom: 3rem;
        }

        .profileForm {
            text-align: left;

            .formGroup {
                margin-bottom: 2rem;

                label {
                    display: block;

                    color: var(--white);
                    font-size: 1.3rem;
                    font-weight: 600;

                    margin-bottom: 0.7rem;
                }

                input[type="tel"],
                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    border: 1px solid var(--border-color);
                    border-radius: .8rem;
                    box-sizing: border-box;

                    font-size: 1.3rem;
                    padding: 1.2rem 1.5rem;
                    width: 100%;
                    transition:
                        border-color 0.3s ease,
                        box-shadow 0.3s ease;

                    &:focus {
                        border-color: var(--background-button-register);
                        box-shadow: 0 0 0 3px rgba(var(--background-button-register), 0.2);
                        outline: none;
                    }

                    &::placeholder {
                        color: #b0b0b0;
                    }
                }
            }

            .btnProfile {
                background-color: var(--background-button-register);
                border: 0;
                border-radius: .8rem;

                color: #fff;
                cursor: pointer;

                font-size: 1.4rem;
                font-weight: bold;

                padding: 1.4rem 2rem;
                transition:
                    background-color 0.3s ease,
                    transform 0.2s ease;
                width: 100%;

                &:hover {
                    background-color: darken(#007bff, 10%);
                    transform: translateY(-2px);
                }

                &:active {
                    transform: translateY(0);
                }
            }
        }

        .profileLoginLink {
            color: var(--white);
            font-size: 1.3rem;
            margin-top: 3rem;

            a {
                color: var(--background-button-register);
                text-decoration: none;
                font-weight: 600;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--primary-color);
    font-size: 2rem;
    min-height: 100vh;
}

@media only screen and (max-width: 1024px) {
    .profilePage {
        .profileCard {
            padding: 2rem;

            .profileTitle {
                font-size: 1.8rem;
            }

            .btnProfile {
                font-size: 1rem;
            }
        }
    }
}
